<%-include("../partials/user/header.ejs") -%>

    <div class="container">
        <div class="row justify-content-center min-vh-100 align-items-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <h4 class="text-center mb-3">Reset Password</h4>
                        <p class="text-muted text-center small mb-4">
                            Enter your email address to receive  OTP to reset password
                        </p>
                        
                        <!-- Email Form -->
                        <form id="resetForm" action="/verifyEmailResetPassword" method="post" >
                            <div class="mb-4">
                                <label for="email" class="form-label">Email Address</label>
                                <input 
                                    type="email" 
                                    class="form-control" 
                                    id="email" 
                                    name="email"
                                    placeholder="enter your Email" 
                                    required
                                >
                                <%if(locals.message && message.length>0){%>
                                    <div class="alert alert-danger text-center">
                                      <%=message%>
                                    </div>
                                <%}%>
                            </div>
                            
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">
                                    Verify Email
                                </button>
                            </div>

                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    






<!-- Footer -->
<%- include ('../partials/user/footer') -%>